.form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 15vh;
  width: 100%;
  background-color: #131313;
  z-index: 1;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.search-bar {
  max-height: 3rem;
  max-width: 30rem;
  padding: 1rem;
  margin: 0.5rem 2rem 0rem 2rem;
  top: 0;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 25px;
  font-weight: 600;
  box-sizing: border-box;
  text-shadow: 3px 2px 2px #817777;
}

.search-bar::placeholder {
  color: #131313;
}
.search-bar:focus {
  background-color: rgb(87, 77, 77);
  color: white;
  text-shadow: 3px 2px 2px #131313;
}

.search-bar:focus::placeholder {
  color: #ffffff;
}
.search-btn {
  max-height: 3rem;
  max-width: 10rem;
  padding: 1rem;
  margin: 1.5rem 2rem 1rem 2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 2px 2px #817777;
}

.search-btn:hover {
  background-color: rgb(87, 77, 77);
  color: #ffffff;
  text-shadow: 3px 2px 2px #131313;
}
