h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Londrina Solid", cursive;
  font-size: 45px;
  position: fixed;
  z-index: 2;
  left: 15px;
  top: 25px;
  color: #ffffff;
  text-shadow: 3px 2px 2px #817777;
  font-size: 60px;
  letter-spacing: 4px;
}

.movies {
  position: absolute;
  top: 140px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  /* color: #817777; */
  color: #ffffff;
  text-shadow: 3px 2px 2px #131313;
  text-align: center;
  font-family: "Architects Daughter", cursive;
  letter-spacing: 2px;
}

.singleMovie {
  max-width: 100%;
  margin: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(
    to right bottom,
    rgba(20, 19, 19, 0.7),
    rgba(160, 142, 142, 0.3)
  );
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
}
h2,
h3 {
  text-align: center;
  text-shadow: 3px 2px 2px #131313;
}
h2 {
  font-family: "Architects Daughter", cursive;
  /* font-family: "Londrina Solid", cursive; */
  font-size: 35px;
  letter-spacing: 2px;
}
h3 {
  font-family: "Roboto Condensed", sans-serif;
}
ul {
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
}
li {
  text-align: center;
}

.poster-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p {
  font-family: "Roboto Condensed", sans-serif;
  margin: 2rem;
  height: 350px;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p::-webkit-scrollbar {
  display: none;
}
img {
  margin: 2rem;
  border-radius: 2rem;
  transition: linear 0.5s;
}
img:hover {
  transform: scale(1.2);
  transition: linear 0.5s;
}

@media (min-width: 1093px) {
  .movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 892px) {
  h1 {
    font-size: 30px;
    top: 50px;
  }
}

@media (max-width: 592px) {
  .movies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    display: none;
  }
}
