#background-img {
    background-color: olivedrab;
    background-image: url(../IMG/Deadpool.jpg);
    background-repeat: repeat-y;
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
}