footer {
    width: 100vw;
    height: 15%;
    // margin-top: 3em;
    position: relative;
    bottom: 0;
    top: 5%;
    background-color: rgb(68, 59, 59);
    // display: flex;

    // ul {
    //     position: absolute;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     background-color: transparent;
    //     top: 20%;

    .footer-links {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 20%;
        bottom: 0;
        background-color: transparent;

        .media-footer {
            // display: inline-block;
            background-color: transparent;
            font-size: 3em;
            margin: 0 .5em;


            a {
                background-color: transparent;
                color: yellow;


                i {
                    background-color: transparent;
                    transition: all 0.2s;

                    &:hover {
                        color: #FFFFFF;
                        background: #232323;
                        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px magenta, 0 0 30px magenta, 0 0 40px magenta, 0 0 55px magenta, 0 0 75px magenta;
                    }
                }
            }
        }
    }

    .footer-text {
        position: absolute;
        color: white;
        text-align: center;
        // padding: 2em;
        font-family: 'Righteous', cursive;
        font-size: 1em;
        bottom: 0;
        top: 20%;
        background-color: transparent;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 7em;
        color: yellow;
    }

}

@media(max-width:1023px) {
    .footer {
        justify-content: space-around;

        .footer-links {
            // width: 80%;

            .media-footer {
                font-size: 1em;


                a {
                    margin: 0;
                    padding: 0;

                    i {
                        display: flex
                    }
                }
            }
        }
    }
}