.main {
    position: relative;
    height: 100vh;



    h1 {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        font-size: 2em;
        color: #fff;
        top: 1em;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Rock Salt', cursive;
        background-color: transparent;
    }

    .wrap-main {


        .video-main {
            width: 70vw;
            height: 70vh;
            background-image: url(../img/video-main.jpg);
            background-position: center;
            background-repeat: no-repeat;
            margin: auto;


            a {
                font-family: 'Pacifico', cursive;
                text-decoration: none;
                color: #fff;
                font-size: 7em;
                margin-top: 10%;
                left: 50%;
                transform: translate(-50%, 50%);
                position: absolute;
                background-color: transparent;
                transition: .5s linear;


                &:hover {
                    color: #d0ff00;
                    font-size: 9em;
                    transition: .5s linear;
                    text-shadow: 0px 0px 28px black;
                }
            }
        }

        .video-div {


            .close-btn {
                top: 5%;
                left: 95%;
                width: 3em;
                height: 3em;
                background-color: transparent;
                z-index: 2;
                position: fixed;


                i {

                    font-size: 3em;
                    color: white;
                    background-color: transparent;
                    text-shadow: 0px 0px 8px black;
                    cursor: pointer;
                    display: none;
                    transform: scale(1) rotate(-90deg);
                    transition: .5s linear;


                    &:hover {
                        transition: .5s linear;
                        transform: scale(1.5) rotate(90deg);


                    }
                }
            }

            video {
                width: 100%;
                height: auto;
                position: fixed;
                display: none;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-width: 100%;
                min-height: 100%;
                z-index: 1;
                animation: videoOpen 2s linear;

            }

            @keyframes videoOpen {
                0% {
                    opacity: 0;
                }

                20% {
                    opacity: 0.2;
                }

                40% {
                    opacity: 0.4;
                }

                60% {
                    opacity: 0.6;
                }

                80% {
                    opacity: 0.8;
                }

                100% {
                    opacity: 1;
                }

            }
        }






        ul {

            position: absolute;
            left: 50%;
            top: 80%;
            transform: translateX(-50%);
            background-color: transparent;
            display: flex;
            justify-content: space-around;
            padding: 0;

            li {
                display: flex;
                background-color: transparent;



                a {
                    display: inline-block;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'Righteous', cursive;
                    color: #fff;
                    padding: 10px;
                    background-color: transparent;
                    justify-content: space-between;

                    &::after {
                        display: block;
                        content: "";
                        border-bottom: 2px solid #d0ff00;
                        transform: scale(0);
                        transform-origin: 0% 50%;
                        transition: 250ms ease-in-out;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: 100% 50%;
                    }

                    &:hover {
                        color: #d0ff00;
                    }


                }

            }
        }
    }


}

@media (max-width: 1023px) {
    .main {
        width: 100vw;

        h1 {
            font-size: .7em;
        }

        .wrap-main {
            .video-main {
                a {
                    font-size: 2.5em;
                    word-wrap: none;
                    width: 100vw;
                    text-align: center;
                    line-height: 25vh;

                    &:hover {

                        font-size: 3.5em;

                    }
                }
            }

            .video-div {


                .close-btn {
                    // top: 15%;
                    left: 90%;
                    width: 2em;
                    height: 2em;



                    i {

                        font-size: 2em;

                    }
                }
            }
        }




    }
}