// h3 {
//     text-align: center;
//     font-family: 'Rock Salt', cursive;
//     font-size: 4em;
//     color: yellow;
//     width: 100%;
// }

// .about-slider {
//     position: absolute;
//     width: 100vw;
//     // margin-left: 5%;
//     // margin-right: 5%;
//     margin-top: 100%;

//     ul {
//         display: block;
//         width: 100%;


//         .photoBoxRight,
//         .photoBoxLeft,
//         .photoBoxCenter {
//             width: 100%;
//             position: relative;
//             // left: -125%;
//             list-style: none;
//             display: flex;
//             height: 50vh;
//             left: 50%;
//             transform: translateX(-50%);



//             .polaroid {
//                 width: 80%;
//                 background-color: white;
//                 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//                 margin: 2em;
//                 width: 20vw;


//                 .leftPhoto,
//                 .rightPhoto,
//                 .centerPhoto {
//                     object-fit: contain;
//                     width: 100%;
//                     height: 100%;
//                     margin: 0;
//                     padding: 0;
//                     // display: block;
//                     padding-top: 1em;
//                 }

//                 .polaroidTextContainer {
//                     text-align: center;
//                     padding: 10px 20px;
//                     font-family: 'Pacifico', cursive;
//                     width: 100%;
//                     text-align: center;


//                     p {
//                         color: yellow;
//                         padding: 10px 20px;
//                         font-size: 1.5em;

//                         span {
//                             font-family: 'Righteous', cursive;
//                             color: white;
//                             font-size: .5em;
//                         }
//                     }
//                 }
//             }
//         }

//         .photoBoxLeft {
//             // left: 275%;
//             padding: 0;
//             margin: 4em 0;
//         }


//         .photoBoxCenter {
//             padding: 0;
//             margin: 4em 0;
//             margin-left: 50%;
//         }


//     }
// }

// @media(max-width:1023px) {
//     h2 {
//         font-size: 3em;
//         margin-top: 2em;
//     }

//     .about-slider {
//         width: 100vw;
//         margin: 10%;

//         ul {


//             .photoBoxRight,
//             .photoBoxLeft,
//             .photoBoxCenter {
//                 margin: 10%;
//                 padding: 0;

//                 // left: 50%;
//                 .polaroid {


//                     .polaroidTextContainer {
//                         padding: 0;
//                         // top: 105%;

//                         p {

//                             font-size: 1em;
//                             line-height: 1em;

//                             span {

//                                 font-size: .6em;
//                                 line-height: .6em;
//                                 ;

//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

h2 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 4em;
    color: yellow;
    width: 100%;
}

.boxOne,
.boxTwo,
.boxThree,
.boxFour,
.boxFive,
.boxSix,
.boxSeven {
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: center;

    .polaroid {
        padding: 20px;
        margin: 20px;
        background-color: #000;

        img {
            width: 30vh; //9
            height: 45vh; //16

        }

        p {
            font-family: 'Pacifico', cursive;
            color: yellow;
            padding: 10px 20px;
            font-size: 1.5em;

            span {
                font-family: 'Righteous', cursive;
                color: white;
                font-size: .5em;
            }
        }
    }
}

.boxOne,
.boxThree,
.boxFive,
.boxSeven {
    transform: translateX(-100vw);
    transition: 1s;

}

.boxOne.active,
.boxThree.active,
.boxFive.active,
.boxSeven.active,
.boxTwo.active,
.boxFour.active,
.boxSix.active {
    transform: translateX(0);

}

.boxTwo,
.boxFour,
.boxSix {
    transform: translateX(100vw);
    transition: 1s;
    overflow-x: hidden;
}

@media(max-width:1023px) {

    .boxOne,
    .boxTwo,
    .boxThree,
    .boxFour,
    .boxFive,
    .boxSix,
    .boxSeven {

        padding: 10px;
        margin: 10px;


        .polaroid {
            padding: 10px;
            margin: 10px;


            img {
                width: 20vh; //9
                height: 30vh; //16

            }

            p {

                padding: 10px 20px;
                font-size: .8em;

                span {

                    font-size: .6em;
                }
            }
        }
    }
}