body {
    box-sizing: border-box;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

#title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid black;
    padding: 20px;
    background-color: silver;
}

.underHundred {
    background-color: red;
}

#pracownik1,
#pracownik2,
#pracownik3,
#pracownik4,
#pracownik5,
#pracownik6,
#pracownik7,
#pracownik8,
#pracownik9,
#pracownik10,
#pracownik11,
#pracownik12,
#pracownik13,
#pracownik14,
#pracownik15,
#pracownik16,
#pracownik17,
#pracownik18,
#pracownik19,
#pracownik20{
    font-size: 20px;
    /* font-weight: 700; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid black;
    padding: 5px;
    background-color: whitesmoke;
}


.pracownik,
.czas,
.stawka,
.wyplata{
    width: 250px;
    height: 25px;
    text-align: center;
}

.pracownik{
    font-size: 20px;
    font-weight: 700;
}

.czas,
.stawka {
    font-size: 20px;
}

.czas:hover,
.stawka:hover{
    background-color: yellow;
}

button {
    width: 200px;
    height: 60px;
    background-color: red;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 700;

}
button:hover{
    background-color: tomato;
}

h3{
    margin-left: 50px;
    font-size: 20px;
}

