.flex-item {
    background-color: seagreen;
    font-family: "Lato", sans-serif;
    color: white;
    border: 1px solid goldenrod;
    padding: 10px;
    margin: 5px;
    flex-basis: 28%;
    max-width: 220px;
    
}

.flex-item:nth-last-of-type(odd) {
    background-color: steelblue;
    /* max-height: 150px; */
    
}

.container {
    border: 2px dashed purple;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    /* align-items: stretch; */
    /* align-items: center; */
    /* align-items: baseline; */
    /* align-items: flex-start; */
    align-items: flex-end;

}
