body {
    background-color: red;
}


div {
    height: 100px;
    width: 200px;
    margin:10px;
}


#predefined-colors {
    background-color: salmon;
}

#hexadecimal-colors {
    background-color: #138FDa;
}

#short-hexadecimal-colors {
    background-color: #138;
}

#rgb-function {
    background-color: rgb(160,145,40);
}

#rgba-function {
    background-color: rgba(250, 133, 255, 0.7);
}