.box {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.box:hover {
    cursor: pointer;
}

.width-transition {
    background-color: steelblue;
    transition: width 2s ease-out;
}

.width-transition:hover {
    width: 300px;
}


.height-transition {
    background-color: violet;
    transition: height 2s ease-out;
}

.height-transition:hover {
    height: 300px;
}

.both-transition {
    background-color: red;
    transition: height 2s, width 2s ease-out
}

.both-transition:hover {
    height: 300px;
    width: 300px;
}