#p1 {
    background-color: seagreen;
}

#p2 {
    background-color: yellow;
}

#inline-elements p {
    display: inline;
}

#inline-p1 {
    background-color: violet;
}

#inline-p2 {
    background-color: peru;
}

#inline-block-elements li {
    display: inline-block;
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    background-color: purple;
}

#display-none {
    display:none;
}