/* .ramka {
    box-sizing: border-box;
    width: 720px;
    height: 320px;
    /* border: solid black 5px; */


.obrazek {
    box-sizing: content-box;
    width: 700px;
    height: 300px;
    margin-top: 100px;
    margin-left: 300px;
    /* padding: 15px; */
    background-image: url(../img/7-jezioro.jpg);
    background-size: cover;
    /* display: flex;
    justify-self: center; */
    position: relative;
    
}




.obrazek::before {
    content: '';
    position: absolute;
    width: 0%;;
    height: 0%;
    justify-items: center;
    border-top: 2px solid black;
    left: 50%;
  right: 50%;
  bottom: 0;
  transition-property: left, right; 
  overflow: hidden;

    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black; */
    opacity: 0;
    transition: .5s;
    box-sizing: border-box;
    padding: 80px;
}

.obrazek::after {
    content: '';
    position: absolute;
    width: 0%;;
    height: 0%;
    justify-items: center;
    border-top: 2px solid black;
    left: 50%;
  right: 50%;
  bottom: 0;
  transition-property: left, right;  
  overflow: hidden;

    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black; */
    opacity: 0;
    transition: .5s;
    box-sizing: border-box;
    padding: 10px;
}

.obrazek:hover::before {
    width: 100%;;
    height: 100%;
    opacity: 1;
}

.obrazek:hover::before {
    width: 100%;;
    height: 100%;
    opacity: 1;
}

/* .obrazek:hover {
    transform: scale(1)
}

.obrazek:hover {
    box-shadow: 0 25px 30px rgba(0, 0, 0, .5);
} */