.pierwsza {
    font-size: 20px;
    color: red;
    text-decoration-color: chartreuse;
}

.druga {
    font-size: 5rem;
    color: blue;
    text-decoration: none;
}

button {
    display: block;
    margin: 1rem;

}