.outer {
    background-color: #a6a9b6;
    width: 400PX;
    height: 400px;
    border: 10px solid;
    border-color: #666360;
    position: relative
  
  }
  
  .inner {
    width: 200px;
    height: 200px;
    position: absolute
  }
  
  #one {
    right: 0;
    bottom: 0;
    background-color: #ff912e
  }
  
  #two{
    background-color: #e4e4e4;
    left: 0;
  }