body {
    box-sizing: border-box;
    background-color: #98fb98;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    
    
}
.products{
    min-width: 992px;
    
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-self: center;
}

.shop, .koszyk, .product {
    height: 300px;
    width: 300px;
}

.shop, .product {
    background-color: #ff6f00;
    display: inline-block;
}

.shop{
    margin: 20px;  
}


.product {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.product:hover {  
    position: relative ;
    opacity: 0.5;
    transition: linear 1s;
}

.one{
     background-image: url(./product-1.jpg);    
}
.two {
    background-image: url(./product-2.jpg);
}
.three {
    background-image: url(./product-3.jpg);
}
.four {
    background-image: url(./product-4.jpg);
    
}

i {
    color: white;
    margin: auto;
    text-align: center;  
    
}
.koszyk {
    display: flex;
    font-size: 50px;
    position: absolute;
    opacity: 0;
}

.koszyk:hover {
    opacity: 1;
    transition: linear 0.5s;
    
}

@media (min-width:480px) and (max-width:991px){
   .products{
       /* display: flex; */
       justify-content: space-around;
       flex-wrap: wrap;
       align-self: center;
   }
   
}

@media (max-width:479px){
    .products{
        flex-direction: column;
        align-self: center;
        align-content: center;
    }
}