* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}

.app {
  background-image: url("https://images.pexels.com/photos/773594/pexels-photo-773594.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  /* background-image: url("https://i.makeagif.com/media/3-03-2016/jvgcs_.gif"); */
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
  background-repeat: no-repeat;
}

.app-warm {
  background-image: url("https://images.pexels.com/photos/219998/pexels-photo-219998.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  /* background-image: url("https://i.makeagif.com/media/7-15-2015/bGuA-p.gif"); */
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
  background-repeat: no-repeat;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.others {
  color: #fff;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  margin-left: 0;
  font-size: 12px;
  font-weight: 600;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  width: 100%;
}

.temp-feels {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 15px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  margin: 10px 10px;
}
.pressure {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 15px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  margin: 10px 10px;
}
.wind-speed {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 15px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  margin: 10px 10px;
}

.others span {
  display: block;
  font-size: 20px;
  padding: 5px 15px;
  margin: 20px auto;
  font-weight: 700;
}

.weather-icon {
  background-color: transparent;
  height: auto;
  margin-top: 10px;
  padding: 5px;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  border: 3px solid transparent;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

.sun {
  color: #fff;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  margin-left: 0;
  font-size: 12px;
  font-weight: 600;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  width: 100%;
}

.sun span {
  display: block;
  font-size: 20px;
  padding: 0px 15px;
  margin: 25px auto;
  font-weight: 700;
}

.sunset {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 0px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  margin: 10px 10px;
}
.sunrise {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 0px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  margin: 10px 10px;
}

.sun img {
  height: 100px;
  margin: 0;
  padding: 0;
}
