* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.form-wrapper {
  margin-top: 50px;
  margin-left: 20px;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
input {
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin: 20px 10px;
  padding: 20px 10px;
  width: 60vw;
  height: 50px;
}
textarea {
  margin: 20px 10px;
  padding: 20px 10px;
  width: 60vw;
  height: 150px;
}

.btn {
  padding: 10px 15px;
}
