form {
    width: 600px;
    color: #ffffff;
    padding: 20px;
    background-color: #213b50;
}

form input, form select {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form select, form input[type='text'], form input[type='tel'], form input[type='email'], form textarea{
    width: 300px;
    background-color: #2b4a64;
    color: #ffffff;
    height: 25px;
    border: none
}

form select :focus, form input :focus, form textarea :focus {
    background-color: #4e708c;
    border: #ffffff 1px solid;
    outline: none;
}

form input[type='checkbox'], form input[type='radio'] {
    float: left;
}

form input[type='submit'] {
    background-color: springgreen;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: 800;
    cursor: pointer;
}