// .btn {
//   padding: 8px 20px;
//   border-radius: 4px;
//   outline: hidden;
//   border: none;
//   font-size: 18px;
//   color: #fff;
//   cursor: pointer;
//   background-color: rgb(19, 179, 219);
//   transition: all 0.3s ease-out;
//   &:hover {
//     transition: all 0.3s ease-out;
//     background-color: #fff;
//     color: rgb(19, 179, 219);
//     border: none;
//   }
// }

.btn {
  text-transform: uppercase;
  padding: 0.8rem 1.2rem;
  font-weight: 500;
  border-radius: 0.2rem;
  outline: transparent;
  border: none;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(19, 179, 219);
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease-out;

  &:hover {
    color: rgb(19, 179, 219);
    background-color: white;
    transition: all 0.3s ease-out;
  }
}
