.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: black;
  .contact-map {
    width: 100%;
    height: 60vh;
    border: none;
  }
  .contact-data {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    .contact-address,
    .data-hours {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 1rem 1rem;
      margin: 0rem 2rem;
      max-width: 50%;

      .contact-data-title {
        padding: 1rem 0rem;
        width: 100%;
      }
      .data,
      .data-week,
      .data-weekend {
        padding: 0.5rem 0rem;
        margin: 0;
        i {
          padding-right: 1rem;
        }
      }
      .account {
        padding: 1rem 0rem;
        width: 100%;
      }
      .sign-in {
        margin: 1rem 1rem;
        color: white;
        text-transform: uppercase;
        padding: 0.8rem 1.2rem;
        font-weight: 500;
        border-radius: 0.2rem;
        outline: transparent;
        border: none;
        cursor: pointer;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        background-color: rgb(19, 179, 219);
        color: white;
        font-size: 1.2rem;
        transition: all 0.3s ease-out;

        &:hover {
          color: rgb(19, 179, 219);
          background-color: white;
          transition: all 0.3s ease-out;
        }
      }
    }
    .contact-form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      width: 60%;

      label {
        color: rgb(19, 179, 219);
        padding: 0.5rem 0rem;
        align-self: flex-start;
      }
      .user_name,
      .user_phone,
      .user_mail,
      .user_message {
        width: 100%;
        padding: 0.5rem 0.5rem;
        outline: hidden;
        border-radius: 1rem;
        margin-bottom: 1rem;
      }
      .user_message {
        height: 15vh;
      }
      .allow {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;

        input {
          align-self: flex-start;
          margin-top: 0.5rem;
        }
        label {
          align-self: flex-start;
          padding: 0.5rem 0.5rem;
          text-align: justify;
        }
      }

      .cookies-link {
        color: white;
        cursor: pointer;
        text-decoration: none;
        padding: 1rem 0rem;
      }

      .send {
        margin: 1rem 1rem;
        color: white;
        text-transform: uppercase;
        padding: 0.8rem 1.2rem;
        font-weight: 500;
        border-radius: 0.2rem;
        outline: transparent;
        border: none;
        cursor: pointer;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        background-color: rgb(19, 179, 219);
        color: white;
        font-size: 1.2rem;
        transition: all 0.3s ease-out;

        &:hover {
          color: rgb(19, 179, 219);
          background-color: white;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
  .clinic {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    .clinic-photo {
      width: 100%;
      height: auto;
      border-radius: 1rem;
      margin: 1rem 1rem;
    }
  }
}

@media screen and (max-width: 840px) {
  .contact {
    .contact-data {
      width: 100%;
      .contact-address,
      .data-hours {
        max-width: 100%;
      }
    }
    .contact-form {
      max-width: 100%;
      min-width: 90%;
    }
    .clinic {
      width: 100%;
      .clinic-photo {
        width: 90%;
      }
    }
  }
}
