.dropdown-menu {
  background: red;
  width: 20%;
  position: absolute;
  top: 2%;
  list-style: none;
  text-align: start;
  li {
    background: rgb(19, 179, 219);
    cursor: pointer;
    &:hover {
      background: rgb(25, 189, 219);
    }
  }
}
.dropdown-menu.clicked {
  display: none;
}
.dropdown-link {
  display: flex;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  z-index: 1;
  font-size: 1rem;
  position: relative;
}
@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
