.navbar {
  // background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  // padding: 5%;
  padding-top: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.navbar-logo {
  // color: #fff;
  justify-self: flex-start;
  align-self: center;
  // margin-left: 20px;
  cursor: pointer;
  // text-decoration: none;
  // font-size: 2rem;
  // width: 40%;
  // margin-left: 2rem;
  // margin-top: 2rem;
  img {
    width: 45%;
    margin-left: 2rem;
    margin-top: 2.1rem;
    z-index: 5;
    border-radius: 1rem;
  }
}
// .fa-firstdraft {
//   margin-left: 0.5rem;
//   font-size: 1.6rem;
// }
.nav-menu {
  // display: grid;
  // grid-template-columns: repeat(5, auto);
  // grid-gap: 10px;
  // list-style: none;
  // text-align: center;
  // width: 70vw;
  // justify-content: end;
  // margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item {
  display: flex;
  align-items: center;

  height: 100%;
}
.nav-links {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: rgb(19, 179, 219);
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
}
.fa-bars {
  color: black;
}
.nav-links-mobile {
  display: none;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    &:hover {
      background-color: rgb(19, 179, 219);
      border-radius: 0;
    }
  }
  .navbar-logo {
    img {
      position: absolute;
      top: -8%;
      left: -15%;
      // transform: translate(25%, 50%);
      margin: 0;
      padding: 0;
      transform: scale(0.3);
    }
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: black;
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 0.5rem;
    width: 80%;
    background: rgb(19, 179, 219);
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    &:hover {
      background: #fff;
      color: rgb(19, 179, 219);
      transition: 250ms;
    }
  }
  .btn {
    display: none;
  }
}
