.prices {
  background-color: black;
  color: white;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  //   .prices-background {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     flex-direction: column;
  //     width: 100vw;
  //     height: 600vh;
  //     position: absolute;
  //     background-color: transparent;

  //     .bgr-first,
  //     .bgr-second,
  //     .bgr-third {
  //       background-size: contain;
  //       background-position: center;
  //       background-repeat: no-repeat;
  //       width: 100%;
  //       height: 100%;
  //       position: fixed;
  //       bottom: 0;
  //       filter: brightness(20%);
  //       //   z-index: 8;
  //       margin: 20% 0%;
  //     }

  //     .bgr-first {
  //       top: 30%;
  //     }

  //     .bgr-first {
  //       background-image: url("https://images.pexels.com/photos/4946338/pexels-photo-4946338.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  //     }
  //     .bgr-second {
  //       background-image: url("https://images.pexels.com/photos/4269370/pexels-photo-4269370.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  //     }
  //     .bgr-third {
  //       background-image: url("https://images.pexels.com/photos/6529110/pexels-photo-6529110.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  //     }
  //   }
  .price-list {
    // display: flex;
    // align-items: flex-start;
    // justify-content: center;
    // flex-direction: row;
    // flex-wrap: wrap;
    // max-width: 90%;
    // height: 100%;
    // z-index: 20;
    // margin: 2rem 0rem;
    // flex-shrink: 2;
    // // flex-grow: ;
    padding: 10px 0;
    -webkit-columns: 50% 2;
    -moz-columns: 250px 2;
    columns: 250px 2;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    max-width: 80vw;
    margin: 0 auto;
    display: block;
    -moz-column-fill: balance;
    column-fill: balance;

    .type {
      border: 0.5px solid rgba(19, 179, 219, 0.75);
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   flex-direction: row;
      //   flex-wrap: wrap;
      //   flex-flow: column wrap;

      //   max-width: 50%;
      //   width: 50%;
      //   max-height: fit-content;
      //   max-width: 50%;
      //   padding: 0rem 1rem;

      //   -moz-column-count: 1;
      //   -webkit-column-count: 1;
      //   column-count: 1;
      //   -moz-column-gap: 3px;
      //   -webkit-column-gap: 3px;
      //   column-gap: 3px;

      min-width: calc(100% - 4px);
      margin: 10px;
      //   background-color: white;
      min-height: 40vh;
      display: inline-block;
      position: relative;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
      padding: 20px;
      box-sizing: border-box;
      border-radius: 3px;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid-column;
      i {
        padding: 0rem 0rem;
        text-align: center;
        width: 100%;
        font-size: 2rem;
      }
      h2 {
        text-align: center;
        padding: 2rem;
        width: 100%;
      }
      h3 {
        width: 100%;
        padding: 1rem 0rem;

        text-align: center;
        // word-break: break-all;
        // width: 100%;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        // flex-wrap: wrap;
        width: 100%;
        cursor: pointer;

        &:nth-child(even) {
          background: black;
        }
        &:nth-child(odd) {
          background: rgb(36, 37, 37);
        }

        &:hover {
          background: rgba(19, 179, 219, 0.75);
        }
      }
      li {
        // width: 50%;
        list-style: none;
        padding: 0.5rem 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
}
