@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;

  -webkit-animation-iteration-count: $iteration;
  -moz-animation-iteration-count: $iteration;
  -o-animation-iteration-count: $iteration;
  animation-iteration-count: $iteration;

  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;

  -webkit-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -o-animation-direction: $direction;
  animation-direction: $direction;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin crown {
  @include animate(crown, 0.6s, infinite, normal);
}

@include keyframes(crown) {
  0% {
    top: 10%;
    right: 20%;
    transform: rotate(30deg);
    width: 8rem;
    height: 8rem;
  }
  25% {
    top: 0%;
    right: 5%;
    transform: rotate(35deg);
    width: 9rem;
    height: 9rem;
  }
  50% {
    top: 5%;
    right: 10%;
    transform: rotate(40deg);
    width: 10rem;
    height: 10rem;
  }
  75% {
    top: 8%;
    right: 15%;
    transform: rotate(35deg);
    width: 9rem;
    height: 9rem;
  }
  100% {
    top: 10%;
    right: 20%;
    transform: rotate(30deg);
    width: 8rem;
    height: 8rem;
  }
}

.team {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 2rem;
  background-color: black;
  overflow-x: hidden;
  color: white;
  font-family: "Roboto Condensed", sans-serif;

  .team-text {
    padding: 4rem 0rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;

    .text-first {
      width: 100%;

      padding-right: 2rem;
      h1 {
        padding-bottom: 2rem;
      }
    }

    .text-second {
      width: 100%;
      padding-left: 2rem;
      h1 {
        padding-bottom: 1rem;
        text-align: center;
        padding-right: -2rem;
      }
      ul {
        list-style: url("../pictures/vectorpaint.svg");

        li {
          padding-left: 1rem;
          padding-top: 0.5rem;
          color: white;
        }
      }
    }
  }

  .team-members {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5rem;

    .mr-dentist-team {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: black;
      width: 80%;
      padding-bottom: 2rem;

      .team-title {
        text-align: center;
        padding: 3rem 0rem;
        margin-bottom: 2rem;
        i {
          padding: 0rem 0.5rem;
        }
      }

      .team-persons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        background-color: black;
        .single-persons-list {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
          width: 33%;

          .owner-dentist,
          .dentist,
          .hygienist,
          .dental-assistant,
          .receptionist {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: black;
            padding: 3rem;
            margin: 1rem;
            flex-grow: 1;
            // height: 80vh; /////////////////////
            border: 1px solid transparent;
            transition: 0.4s linear 1s;

            &:hover {
              border: 1px solid rgb(19, 179, 219);
              transition: 0.4s linear 1s;
              border-radius: 1rem;
            }

            .card {
              position: relative;
              width: 300px;
              height: 400px;
              transform-style: preserve-3d;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              cursor: pointer;

              .front,
              .back {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                display: flex;
                justify-content: center;
                align-items: center;
                backface-visibility: hidden;
                transition: 2s ease-in-out;
                transform: perspective(500px) rotateY(0deg);
              }

              .card.front {
                .person-name,
                .person-profession {
                  align-self: center;
                  padding: 0.1rem 0rem;

                  transform: perspective(500px) translateZ(50px);
                }
                .crown {
                  display: none;
                }
                .person-photo {
                  max-width: 100%;
                  max-height: 100%;
                  border-radius: 1rem;
                }
              }

              .card.back {
                background-color: rgb(36, 37, 37);
                transform: perspective(500px) rotateY(180deg);
                border-radius: 1rem;
                .information {
                  flex-wrap: wrap;
                  text-align: justify;
                  transform: perspective(500px) translateZ(50px);
                  width: 80%;
                  padding: 0rem 1rem;
                }
                .person-specialization {
                  width: 80%;
                  padding: 1rem;
                  align-self: center;
                  display: flex;
                  align-content: center;
                  justify-content: center;
                  flex-direction: column;
                  flex-wrap: wrap;
                  transform: perspective(500px) translateZ(50px);
                  .specialization {
                    align-self: center;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    flex-direction: row-reverse;
                    .icon {
                      font-size: 1rem;
                      padding-right: 0.5rem;
                    }
                  }
                  .dentist {
                    border-color: blue;
                  }
                }
              }

              &:hover {
                .front {
                  transform: perspective(500px) rotateY(180deg);
                }
                .back {
                  transform: perspective(500px) rotateY(360deg);
                }
              }
            }
          }

          .owner-dentist {
            .card {
              .card.front {
                .crown {
                  @include crown;
                  position: absolute;
                  display: block;
                  top: 10%;
                  right: 20%;
                  transform: rotate(30deg);
                  background-image: url(../pictures/PikPng.com_pink-crown-png_2883035.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  width: 8rem;
                  height: 8rem;

                  &:hover {
                    position: relative;
                  }
                }
              }
            }
          }
          //   .owner-dentist {
          //     border: rgb(129, 75, 75);
          //   }
          //   .dentist {
          //     border: rgb(196, 37, 37);
          //   }
          //   .dental-assistant {
          //     border: rgb(167, 9, 9);
          //   }
          //   .receptionist {
          //     border: rgb(233, 200, 200);
          //   }
          //   .hygienist {
          //     border: rgb(112, 28, 28);
          //   }
        }
      }
    }
  }
}

@media screen and (max-width: 1630px) {
  .team {
    .team-text {
      flex-direction: column;

      .text-first {
        padding-right: 0;
      }

      .text-second {
        padding-left: 0;
        h1 {
          padding: 1rem;
        }
      }
    }
    .team-members {
      .mr-dentist-team {
        width: 100%;
        .team-persons {
          .single-persons-list {
            width: 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .team {
    margin-top: 20%;
    .team-text {
      flex-direction: column;

      .text-first {
        padding-right: 0;
      }

      .text-second {
        padding-left: 0;
        h1 {
          padding: 1rem;
        }
      }
    }
    .team-members {
      .mr-dentist-team {
        width: 100%;
        .team-persons {
          .single-persons-list {
            width: 100%;
          }
        }
      }
    }
  }
}
