@import "./home";
@import "./navbar";
@import "./dropdown";
@import "./button";
@import "./team";
@import "./gallery";
@import "./prices";
@import "./servises-styles/comprehensive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
}
