* {
    color: green;
}

p {
    color: red;
}

#kasia {
    background-color: yellow;
    color: wheat;
}

div.lorak {
    color: burlywood;
}

a > span {
    background-color: violet;
}

ul a {
    color: blue;
}

li#pierwszy ~ li {
    background-color: indigo;
}

li#pierwszy + li {
    background-color: hotpink;
}

