@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
* {
  top: 0;
  left: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}

* body {
  position: absolute;
  width: 100vw;
  height: 200vh;
  overflow-x: hidden;
  margin: auto;
}

* body section {
  width: 100%;
  overflow-x: hidden;
}

* body::-webkit-scrollbar {
  display: none;
}

* body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

nav {
  position: fixed;
  margin-top: 2em;
  margin-left: 1em;
  z-index: 1;
  background-color: transparent;
}

nav input {
  display: none;
}

nav ul {
  background-color: transparent;
}

nav ul li {
  list-style: none;
  background-color: transparent;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  color: #fff;
  background-color: transparent;
}

nav ul li a::after {
  display: block;
  content: "";
  border-bottom: 2px solid #d0ff00;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

nav ul li a:hover {
  color: #d0ff00;
}

@media (max-width: 1023px) {
  nav {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  nav ul {
    position: absolute;
    width: 250px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  nav ul li {
    padding: 10px 0;
    font-size: 22px;
  }
  nav ul li a {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  nav ul li a:hover {
    color: yellow;
  }
  nav input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  nav input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  nav input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  nav input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  nav input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
  nav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  nav span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  nav span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

.main {
  position: relative;
  height: 100vh;
}

.main h1 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-size: 2em;
  color: #fff;
  top: 1em;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Rock Salt', cursive;
  background-color: transparent;
}

.main .wrap-main .video-main {
  width: 70vw;
  height: 70vh;
  background-image: url(../img/video-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.main .wrap-main .video-main a {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: #fff;
  font-size: 7em;
  margin-top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  position: absolute;
  background-color: transparent;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.main .wrap-main .video-main a:hover {
  color: #d0ff00;
  font-size: 9em;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  text-shadow: 0px 0px 28px black;
}

.main .wrap-main .video-div .close-btn {
  top: 5%;
  left: 95%;
  width: 3em;
  height: 3em;
  background-color: transparent;
  z-index: 2;
  position: fixed;
}

.main .wrap-main .video-div .close-btn i {
  font-size: 3em;
  color: white;
  background-color: transparent;
  text-shadow: 0px 0px 8px black;
  cursor: pointer;
  display: none;
  -webkit-transform: scale(1) rotate(-90deg);
          transform: scale(1) rotate(-90deg);
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.main .wrap-main .video-div .close-btn i:hover {
  -webkit-transition: .5s linear;
  transition: .5s linear;
  -webkit-transform: scale(1.5) rotate(90deg);
          transform: scale(1.5) rotate(90deg);
}

.main .wrap-main .video-div video {
  width: 100%;
  height: auto;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  -webkit-animation: videoOpen 2s linear;
          animation: videoOpen 2s linear;
}

@-webkit-keyframes videoOpen {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes videoOpen {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.main .wrap-main ul {
  position: absolute;
  left: 50%;
  top: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

.main .wrap-main ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

.main .wrap-main ul li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  color: #fff;
  padding: 10px;
  background-color: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .wrap-main ul li a::after {
  display: block;
  content: "";
  border-bottom: 2px solid #d0ff00;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.main .wrap-main ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.main .wrap-main ul li a:hover {
  color: #d0ff00;
}

@media (max-width: 1023px) {
  .main {
    width: 100vw;
  }
  .main h1 {
    font-size: .7em;
  }
  .main .wrap-main .video-main a {
    font-size: 2.5em;
    word-wrap: none;
    width: 100vw;
    text-align: center;
    line-height: 25vh;
  }
  .main .wrap-main .video-main a:hover {
    font-size: 3.5em;
  }
  .main .wrap-main .video-div .close-btn {
    left: 90%;
    width: 2em;
    height: 2em;
  }
  .main .wrap-main .video-div .close-btn i {
    font-size: 2em;
  }
}

.videos-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.videos-wrap .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.videos-wrap .navigation {
  position: relative;
  top: 85%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.videos-wrap .navigation li {
  list-style: none;
  cursor: pointer;
  margin: 0 1em;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 3px 3px 0;
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.videos-wrap .navigation li:hover {
  opacity: 1;
}

.videos-wrap .navigation li img {
  width: 120px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.videos-wrap .navigation li img:hover {
  width: 200px;
}

@media (max-width: 1023px) {
  .videos .videos-wrap .video {
    width: 100vw;
  }
  .videos .videos-wrap ul {
    width: 100vw;
    padding: 0;
  }
  .videos .videos-wrap ul li {
    width: 10%;
    overflow: hidden;
    border: 3px solid white;
    background-color: transparent;
    padding: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    min-height: 5em;
  }
  .videos .videos-wrap ul li:hover {
    border: 4px solid magenta;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .videos .videos-wrap ul li img {
    overflow: hidden;
    padding: 0;
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
}

.photos {
  height: 100vh;
  margin: 2em 1em;
  background-color: #000;
  position: relative;
}

.photos h2 {
  color: magenta;
  text-align: center;
  margin-top: 1em;
  padding: 1em;
  text-transform: uppercase;
  font-family: 'Limelight', cursive;
  font-size: 3em;
  text-shadow: 0px 0px 10px 10px royalblue;
  background-color: transparent;
}

.photos .swiper-container {
  width: 80vh;
  height: 80vh;
  margin-bottom: 300px;
  background-color: transparent;
}

.photos .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: transparent;
}

@media (max-width: 1023px) {
  .photos .swiper-container {
    width: 80vw;
    height: 80vw;
    margin-bottom: 0;
  }
}

.about {
  margin-top: 4em;
  position: relative;
  overflow: hidden;
  color: white;
  width: 100vw;
  height: auto;
}

.about h2 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 6em;
  font-weight: bold;
  text-transform: uppercase;
  color: yellow;
  width: 100%;
}

.about .about-text {
  padding: 2em;
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 2em;
  margin-left: 20%;
  margin-right: 20%;
}

.about .about-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-photo p {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 2em;
  padding: 1em;
}

.about .about-photo img {
  width: 40%;
  height: auto;
  max-height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1023px) {
  .about {
    margin-top: 0;
    padding-top: 0;
  }
  .about h2 {
    font-size: 3em;
    margin-top: 2em;
  }
  .about .about-text {
    font-size: 1em;
    margin-bottom: 3em;
    word-wrap: break-word;
  }
  .about .about-photo p {
    font-size: 1em;
  }
}

h2 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 4em;
  color: yellow;
  width: 100%;
}

.boxOne,
.boxTwo,
.boxThree,
.boxFour,
.boxFive,
.boxSix,
.boxSeven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boxOne .polaroid,
.boxTwo .polaroid,
.boxThree .polaroid,
.boxFour .polaroid,
.boxFive .polaroid,
.boxSix .polaroid,
.boxSeven .polaroid {
  padding: 20px;
  margin: 20px;
  background-color: #000;
}

.boxOne .polaroid img,
.boxTwo .polaroid img,
.boxThree .polaroid img,
.boxFour .polaroid img,
.boxFive .polaroid img,
.boxSix .polaroid img,
.boxSeven .polaroid img {
  width: 30vh;
  height: 45vh;
}

.boxOne .polaroid p,
.boxTwo .polaroid p,
.boxThree .polaroid p,
.boxFour .polaroid p,
.boxFive .polaroid p,
.boxSix .polaroid p,
.boxSeven .polaroid p {
  font-family: 'Pacifico', cursive;
  color: yellow;
  padding: 10px 20px;
  font-size: 1.5em;
}

.boxOne .polaroid p span,
.boxTwo .polaroid p span,
.boxThree .polaroid p span,
.boxFour .polaroid p span,
.boxFive .polaroid p span,
.boxSix .polaroid p span,
.boxSeven .polaroid p span {
  font-family: 'Righteous', cursive;
  color: white;
  font-size: .5em;
}

.boxOne,
.boxThree,
.boxFive,
.boxSeven {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: 1s;
  transition: 1s;
}

.boxOne.active,
.boxThree.active,
.boxFive.active,
.boxSeven.active,
.boxTwo.active,
.boxFour.active,
.boxSix.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.boxTwo,
.boxFour,
.boxSix {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: 1s;
  transition: 1s;
  overflow-x: hidden;
}

@media (max-width: 1023px) {
  .boxOne,
  .boxTwo,
  .boxThree,
  .boxFour,
  .boxFive,
  .boxSix,
  .boxSeven {
    padding: 10px;
    margin: 10px;
  }
  .boxOne .polaroid,
  .boxTwo .polaroid,
  .boxThree .polaroid,
  .boxFour .polaroid,
  .boxFive .polaroid,
  .boxSix .polaroid,
  .boxSeven .polaroid {
    padding: 10px;
    margin: 10px;
  }
  .boxOne .polaroid img,
  .boxTwo .polaroid img,
  .boxThree .polaroid img,
  .boxFour .polaroid img,
  .boxFive .polaroid img,
  .boxSix .polaroid img,
  .boxSeven .polaroid img {
    width: 20vh;
    height: 30vh;
  }
  .boxOne .polaroid p,
  .boxTwo .polaroid p,
  .boxThree .polaroid p,
  .boxFour .polaroid p,
  .boxFive .polaroid p,
  .boxSix .polaroid p,
  .boxSeven .polaroid p {
    padding: 10px 20px;
    font-size: .8em;
  }
  .boxOne .polaroid p span,
  .boxTwo .polaroid p span,
  .boxThree .polaroid p span,
  .boxFour .polaroid p span,
  .boxFive .polaroid p span,
  .boxSix .polaroid p span,
  .boxSeven .polaroid p span {
    font-size: .6em;
  }
}

.contact {
  width: 100vw;
  height: 200vh;
  padding: 4em 4em;
  font-family: 'Righteous', cursive;
  position: relative;
}

.contact p {
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  color: yellow;
  text-align: center;
  padding-bottom: 2em;
}

.contact .contact-form {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 100%;
  color: #fff;
}

.contact .contact-form .name,
.contact .contact-form .second-name {
  width: 20%;
  height: 3em;
  display: inline-block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.contact .contact-form .mail,
.contact .contact-form .message,
.contact .contact-form .submit {
  display: block;
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}

.contact .contact-form .mail {
  width: 40%;
  left: 50%;
}

.contact .contact-form .message {
  height: 10em;
  width: 40%;
}

.contact .contact-form input {
  border: 2px solid magenta;
  padding: 1em 1em;
  margin-top: 2em;
  border-radius: 5px;
  color: white;
}

.contact .contact-form input:focus {
  border: 3px solid magenta;
}

.contact .contact-form input:hover {
  border: 3px solid yellow;
}

.contact .contact-form button {
  color: yellow;
  width: 20%;
  height: 3em;
  margin-top: 2em;
  font-family: 'Pacifico', cursive;
  font-size: 1em;
  border: 2px solid magenta;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.contact .contact-form button:hover {
  border: 2px solid yellow;
  color: #FFFFFF;
  background: #232323;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px magenta, 0 0 30px magenta, 0 0 40px magenta, 0 0 55px magenta, 0 0 75px magenta;
}

.contact .location {
  position: relative;
  top: 30%;
}

.contact .location p {
  font-size: 4em;
}

.contact .location :nth-child(2) {
  font-size: 2em;
  font-family: 'Righteous', cursive;
  color: magenta;
}

.contact .location .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .location .map iframe {
  border: 7px solid magenta;
}

@media (max-width: 1023px) {
  .contact p {
    font-size: 2em;
  }
  .contact input {
    margin-top: 1em;
  }
  .contact .location p {
    font-size: 2em;
  }
  .contact .location :nth-child(2) {
    font-size: 1.5em;
  }
}

footer {
  width: 100vw;
  height: 15%;
  position: relative;
  bottom: 0;
  top: 5%;
  background-color: #443b3b;
}

footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  top: 20%;
  bottom: 0;
  background-color: transparent;
}

footer .footer-links .media-footer {
  background-color: transparent;
  font-size: 3em;
  margin: 0 .5em;
}

footer .footer-links .media-footer a {
  background-color: transparent;
  color: yellow;
}

footer .footer-links .media-footer a i {
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .footer-links .media-footer a i:hover {
  color: #FFFFFF;
  background: #232323;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px magenta, 0 0 30px magenta, 0 0 40px magenta, 0 0 55px magenta, 0 0 75px magenta;
}

footer .footer-text {
  position: absolute;
  color: white;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 1em;
  bottom: 0;
  top: 20%;
  background-color: transparent;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 7em;
  color: yellow;
}

@media (max-width: 1023px) {
  .footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer-links .media-footer {
    font-size: 1em;
  }
  .footer .footer-links .media-footer a {
    margin: 0;
    padding: 0;
  }
  .footer .footer-links .media-footer a i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */