* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  max-width: 100vw;
}

.page {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.7);
  height: 4rem;
  top: 4rem;
  position: fixed;
  text-align: center;
  margin: 3rem;
  z-index: 1;
}

.nav .burger {
  display: none;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nav .nav-list .logo img {
  margin-top: -0.5rem;
  width: 12rem;
  height: 5rem;
}

.nav .nav-list li {
  margin-top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  width: 100%;
  margin: 1rem 0rem;
  padding: 0rem 1rem;
}

.nav .nav-list li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  width: 100%;
}

.nav .nav-list li:hover {
  margin: 0.5rem;
  border-bottom: 5px solid red;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.nav .nav-list .search i {
  font-size: 2rem;
}

@media (max-width: 620px) {
  .page .nav .nav-list .logo {
    display: none;
  }
}

@media (max-width: 480px) {
  .page {
    border: none;
  }
  .page .nav {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30%;
    top: 0;
    right: 0;
    margin: 0;
    border: none;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .page .nav .burger {
    display: block;
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: -35px;
    border: none;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    border-radius: 1rem;
  }
  .page .nav .burger:active {
    margin: 0;
  }
  .page .nav .burger:focus {
    outline: none;
  }
  .page .nav .burger .fa-angle-right {
    font-size: 2rem;
    -webkit-transition: ease 0.7s;
    transition: ease 0.7s;
  }
  .page .nav .burger-active {
    margin-right: 0;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
  }
  .page .nav .burger-active:active {
    margin: 0;
  }
  .page .nav .burger-active:focus {
    outline: none;
  }
  .page .nav .burger-active .fa-angle-right {
    font-size: 2rem;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
  .page .nav .burger-active ~ .nav-list {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .page .nav .burger-active ~ .nav {
    width: 0px;
  }
  .page .nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: 1s ease;
    transition: 1s ease;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    border-radius: 1rem;
  }
  .page .nav .nav-list .logo {
    display: none;
  }
  .page .nav .nav-list li {
    padding: 0.25rem 0.25rem;
    margin: 0.25rem 0.25rem;
  }
}

.promoted-cars {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel-with-pictures {
  background-image: url("https://images.pexels.com/photos/2127733/pexels-photo-2127733.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}

.carousel-with-pictures .promoted-text {
  width: 50%;
  height: 10%;
  position: relative;
  top: 40%;
  left: 10%;
}

.carousel-with-pictures .promoted-text .car-category {
  background-color: red;
  color: #fff;
  display: inline;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.carousel-with-pictures .promoted-text .car-name {
  font-size: 5rem;
  font-weight: 900;
  margin-top: 2rem;
  color: #fff;
}

.carousel-with-pictures .promoted-text .car-price {
  color: #fff;
  font-size: 2rem;
}

.carousel-with-pictures .promoted-text .prices {
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-top: 3px solid red;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.carousel-with-pictures .promoted-text .prices:hover {
  background-color: rgba(255, 0, 0, 0.9);
  border: none;
  border-top: 3px solid white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.carousel-with-pictures .promoted-text .prices a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 800;
}

.popular-cars {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e2e2e2;
  padding-left: 3rem;
  padding-right: 3rem;
}

.popular-cars .popular-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem;
}

.popular-cars .popular-car img {
  height: 14rem;
  width: auto;
  margin-bottom: 2rem;
}

.popular-cars .popular-car h3 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.popular-cars .popular-car h4 {
  background-color: red;
  color: #fff;
  display: inline;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

@media (max-width: 500px) {
  .promoted-cars .carousel-with-pictures .promoted-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promoted-cars .carousel-with-pictures .promoted-text .car-category {
    padding: 0.5rem;
    font-size: 1.5rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .promoted-cars .carousel-with-pictures .promoted-text .car-name {
    font-size: 4rem;
    text-align: left;
  }
  .promoted-cars .carousel-with-pictures .promoted-text .car-price {
    font-size: 1.5rem;
  }
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 8rem;
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
}

.title span {
  display: block;
  border-bottom: 3px solid red;
  width: 12rem;
  margin-left: 50%;
  margin-top: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  width: 60%;
  color: #616161;
}

.text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text .advertisment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
}

.text .advertisment .advert-text {
  width: 30%;
  min-width: 50vh;
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
  border: 1px solid #616161;
  margin: 1.5rem;
}

.text .advertisment .advert-text h3 {
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: black;
  text-align: center;
  padding-bottom: 2rem;
}

.text .advertisment .advert-text h3 i {
  color: red;
  font-size: 3rem;
  padding: 2rem;
}

.text .advertisment .advert-text p {
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #616161;
}

.our-awards {
  width: 100%;
  height: 100%;
}

.awards {
  margin-top: 5rem;
  padding-bottom: 2rem;
  padding: 0 auto;
  height: 100%;
  background-color: red;
  background-image: url("https://images.pexels.com/photos/1493226/pexels-photo-1493226.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.awards ul {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.awards ul li {
  color: #fff;
  padding-left: 4rem;
  margin-top: 2rem;
}

.awards ul li i {
  font-size: 5rem;
  padding: 1rem;
  margin-left: 2.5rem;
}

.awards ul li span {
  display: block;
  font-size: 2rem;
}

.awards ul .text-big {
  font-size: 4rem;
  color: #fff;
}

.awards ul .text-big span {
  display: block;
  font-size: 3rem;
}

.our-services {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.best-cars {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 80%;
  background-image: url("https://images.pexels.com/photos/1005162/pexels-photo-1005162.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer {
  max-width: 80%;
  height: 70%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer .offer-title {
  width: 30%;
  min-width: 20vh;
  font-size: 2.5rem;
  padding: 2rem 2rem;
  color: black;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.offer .offer-title span {
  color: red;
  font-size: 2rem;
  word-wrap: break-word;
}

.offer .offer-more {
  width: 70%;
  padding: 5rem 2rem;
  background-color: #dad8d8;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.offer .best-cars-carousel {
  background-image: url("https://images.pexels.com/photos/358189/pexels-photo-358189.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.offer .best-cars-carousel div {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2rem;
}

.offer .best-cars-carousel div p {
  color: #fff;
  font-size: 1.5rem;
}

.offer .best-cars-carousel div button {
  margin-top: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-top: 3px solid red;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  font-size: 1.5rem;
}

.offer .best-cars-carousel div button:hover {
  background-color: rgba(255, 0, 0, 0.9);
  border: none;
  border-top: 3px solid white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.offer .best-cars-carousel div button:hover a {
  color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.offer .best-cars-carousel div button a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-weight: 800;
}

.our-cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.newest-cars {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newest-cars h2 {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
}

.newest-cars h2 span {
  display: block;
  border-bottom: 3px solid red;
  width: 12rem;
  margin-left: 50%;
  margin-top: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.newest-cars ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newest-cars ul li {
  padding: 1rem;
  color: #616161;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  letter-spacing: 2px;
}

.newest-cars ul li:hover {
  color: red;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.newest-cars ul span {
  color: #616161;
  font-size: 1.5rem;
  font-weight: 700;
}

.newest-cars .newest-cars-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
}

.newest-cars .newest-cars-list .single-new-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid #dfdfdf;
  border-radius: 1rem;
}

.newest-cars .newest-cars-list .single-new-car img {
  width: 28rem;
  height: 18rem;
  -o-object-fit: fill;
     object-fit: fill;
}

.newest-cars .newest-cars-list .single-new-car p {
  padding-top: 1rem;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 5rem;
}

.newest-cars .newest-cars-list .single-new-car ul {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 70px;
}

.newest-cars .newest-cars-list .single-new-car ul li {
  font-size: 1rem;
  cursor: auto;
  letter-spacing: 1px;
  padding-left: 3rem;
}

.newest-cars .newest-cars-list .single-new-car ul li span {
  color: red;
  font-size: 2rem;
  font-weight: 700;
}

.newest-cars .newest-cars-list .single-new-car ul button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #dfdfdf;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 2px;
  border: none;
  border-radius: 2px;
  color: black;
}

.newest-cars .newest-cars-list .single-new-car ul button:hover {
  background-color: rgba(255, 0, 0, 0.9);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #fff;
}

.newest-cars .newest-cars-list .single-new-car ul button:hover a {
  color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.newest-cars .newest-cars-list .single-new-car ul button a {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

@media (max-width: 440px) {
  .our-cars .newest-cars ul li {
    font-size: 1rem;
    padding: 0.5rem;
    letter-spacing: 1px;
  }
}

.rates-opinions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.opinions {
  position: relative;
  width: 100vw;
  height: 100%;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.opinions::after {
  content: "";
  position: absolute;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("https://images.pexels.com/photos/1279813/pexels-photo-1279813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  z-index: -1;
}

.opinions h2 {
  text-align: center;
  padding: 6rem 1rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.opinions h2 span {
  display: block;
  border-bottom: 3px solid red;
  width: 12rem;
  margin-left: 50%;
  margin-top: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.opinions .opinion-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opinions .opinion-carousel .opinion {
  background-color: #fff;
  padding: 2rem 1rem;
  margin: 1rem 3rem;
  height: 16rem;
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opinions .opinion-carousel .opinion p {
  font-style: italic;
  color: #616161;
  font-weight: 700;
  letter-spacing: 1px;
  height: 8rem;
}

.opinions .opinion-carousel .opinion .opinion-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  height: 8rem;
}

.opinions .opinion-carousel .opinion .opinion-photo img {
  margin-top: 1rem;
  width: 6rem;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.opinions .opinion-carousel .opinion .opinion-photo p {
  color: red;
  font-weight: 800;
  font-size: 1.5rem;
  font-style: normal;
  padding: 3rem 2rem;
}

.opinions .opinion-carousel .opinion .opinion-photo p span {
  color: black;
}

.contact-us {
  background-image: url("https://images.pexels.com/photos/205316/pexels-photo-205316.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.newsletter {
  margin-top: 14rem;
  width: 100vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter form {
  width: 70%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(180, 196, 209, 0.4);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newsletter form p {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0rem 1rem;
  text-align: center;
  height: 4rem;
  padding-top: 0.5rem;
  margin-top: 2rem;
}

.newsletter form input {
  height: 4rem;
  width: 30rem;
  padding-left: 1rem;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0rem 2rem;
  background-color: rgba(180, 196, 209, 0);
  border-bottom: 1px solid black;
  outline: none;
  margin-top: 2rem;
}

.newsletter form input::-webkit-input-placeholder {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

.newsletter form input:-ms-input-placeholder {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

.newsletter form input::-ms-input-placeholder {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

.newsletter form input::placeholder {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

.newsletter form input:focus {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

.newsletter form button {
  height: 4rem;
  width: 10rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0rem 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: red;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 2rem;
}

.locations {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.locations h2 {
  text-align: center;
  padding: 4rem 1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.locations h2 span {
  display: block;
  border-bottom: 3px solid red;
  width: 12rem;
  margin-left: 50%;
  margin-top: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.locations .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.locations .map iframe {
  border: none;
  height: 36rem;
  width: 100%;
}

footer {
  width: 100%;
  height: 40vh;
  background-color: #2a2b2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

footer div h4 {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

footer div h4 span {
  display: block;
  border-bottom: 3px solid red;
  width: 12rem;
  margin-left: 50%;
  margin-top: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer div p {
  margin-top: 2rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer div img {
  margin-top: 0.5rem;
  width: 14rem;
  height: 7rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .social-media {
  background-color: black;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer .social-media ul {
  list-style: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer .social-media li {
  margin: 1rem 1rem;
}

footer .social-media li a {
  color: #fff;
}

footer .social-media li a i {
  font-size: 4rem;
  margin: 0rem 2rem;
}

@media (max-width: 700px) {
  footer .social-media ul li {
    margin: 0.25rem 0.25rem;
  }
  footer .social-media ul li a i {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}
/*# sourceMappingURL=style.css.map */