.our-awards {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awards {
  margin-top: 5rem;
  padding-bottom: 2rem;
  // padding: 0 auto;
  height: 100%;
  width: 100%;
  background-color: red;
  background-image: url("https://images.pexels.com/photos/1493226/pexels-photo-1493226.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li {
      color: #fff;
      padding: 1rem 2rem;
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      i {
        font-size: 5rem;
        padding: 1rem 1rem;
      }

      span {
        display: block;
        font-size: 2rem;
      }
    }
    .text-big {
      font-size: 4rem;
      color: #fff;

      span {
        display: block;
        font-size: 3rem;
      }
    }
  }
}
