.blog-page {
  top: 0;
  left: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  // background-color: #fff;
  background-color: rgba(85, 84, 84, 0.7);
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .blog-nav {
    position: fixed;
    height: 4rem;
    width: 100%;
    top: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    flex-wrap: wrap;
    text-align: center;
    margin: 3rem;
    z-index: 1;

    .blog-list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      background-color: rgba(255, 255, 255, 0.7);
      // margin-left: 0;
      // width: 100%;

      .blog-list-nav-item {
        padding: 0rem 2rem;
        margin: 1rem 0rem;
        text-decoration: none;
        a {
          text-decoration: none;
          color: black;
          font-size: 1.2rem;
          font-weight: 600;
          transition: ease 0.3s;
          width: 100%;
        }
        &:hover {
          margin: 0.5rem;
          border-bottom: 5px solid red;
          transition: ease 0.3s;
        }
      }
    }
  }

  .articles {
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    position: relative;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;

    .article,
    .article-gray {
      padding: 2rem 0rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // background-color: rgba(85, 84, 84, 0.7);

      .article-date {
        font-size: 2.5rem;
        text-align: left;
        padding-right: 4rem;
        width: 50%;
        max-width: 50%;
      }

      .article-title {
        text-transform: uppercase;
        font-size: 2rem;
        width: 50%;
        max-width: 50%;
      }

      .article-video {
        background-color: #fff;
        width: 50%;
        height: 0;
        padding-bottom: 28%; /* Change this till it fits the dimensions of your video */
        position: relative;

        iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          display: block;
          top: 0;
          left: 0;
        }
      }

      .movie-promotion-text {
        text-transform: uppercase;
        margin-top: 2rem;
        font-size: 2rem;
        max-width: 50%;
      }

      .article-description {
        padding: 2rem 0rem;
        width: 50%;
        font-size: 1.5rem;
        font-style: italic;
        span {
          font-size: 1.5rem;
          font-weight: 700;
        }
      }

      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        // width: 10%;
        // height: 15%;
        background-color: rgb(53, 66, 182);
        text-align: center;
        padding: 1rem 1rem;
        border-radius: 1rem;
        border: 2px solid transparent;
        transition: 0.5s ease;

        &:hover {
          color: rgb(53, 66, 182);
          background-color: #fff;
          border: 2px solid rgb(53, 66, 182);
          transition: 0.5s ease;
        }
      }
    }
    .article-gray {
      background-color: rgba(85, 84, 84, 0.7);
    }
  }
}
