.nav {
    display: flex;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
  
    background-color: rgba(255, 255, 255, 0.7);
    // width: 80%;
    height: 4rem;
    top: 4rem;
    position: fixed;
    text-align: center;
    margin: 3rem;
    z-index: 1;
  
    .burger {
      display: none;
    }
  
    .nav-list {
      display: flex;
      align-content: center;
      justify-items: center;
      flex-wrap: wrap;
  
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
      .logo {
        img {
          margin-top: -0.5rem;
          width: 12rem;
          height: 5rem;
        }
      }
  
      li {
        margin-top: 1.2rem;
        display: flex;
        align-content: center;
        justify-items: center;
        width: 100%;
        margin: 1rem 0rem;
        padding: 0rem 1rem;
        a {
          text-decoration: none;
          color: black;
          // padding: 2rem;
          font-size: 1.2rem;
          font-weight: 600;
          transition: ease 0.3s;
          width: 100%;
        }
        &:hover {
          margin: 0.5rem;
          border-bottom: 5px solid red;
          transition: ease 0.3s;
        }
      }
  
      .search {
        i {
          font-size: 2rem;
        }
      }
    }
  }
  
  @media (max-width: 620px) {
    .page {
      .nav {
        .nav-list {
          .logo {
            display: none;
          }
        }
      }
    }
  }
  @media (max-width: 480px) {
    .page {
      border: none;
      .nav {
        // background-color: rgba(255, 255, 255, 0.7);
        background-color: transparent;
        display: flex;
        align-content: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        height: 30%;
        top: 0;
        right: 0;
        margin: 0;
        border: none;
        transform: translateX(0%);
        .burger {
          display: block;
          width: 3rem;
          height: 3rem;
          background-color: rgba(255, 255, 255, 0.7);
          margin-left: -35px;
          border: none;
          transition: ease 0.5s;
          border-radius: 1rem;
  
          &:active {
            margin: 0;
          }
  
          &:focus {
            outline: none;
          }
  
          .fa-angle-right {
            font-size: 2rem;
            transition: ease 0.7s;
          }
        }
  
        .burger-active {
          margin-right: 0;
          transition: ease 0.5s;
          transform: translateX(250%);
  
          &:active {
            margin: 0;
          }
  
          &:focus {
            outline: none;
          }
  
          .fa-angle-right {
            font-size: 2rem;
            transition: ease 0.5s;
            transform: rotate(540deg);
          }
        }
  
        .burger-active ~ .nav-list {
          transform: translateX(500%);
          transition: 1s ease;
        }
        .burger-active ~ .nav {
          width: 0px;
        }
  
        .nav-list {
          display: flex;
          align-content: center;
          justify-content: center;
          flex-direction: column;
          background-color: rgba(255, 255, 255, 0.7);
          transition: 1s ease;
          transform: translateY(40%);
          border-radius: 1rem;
          .logo {
            display: none;
          }
          li {
            padding: 0.25rem 0.25rem;
            margin: 0.25rem 0.25rem;
          }
        }
      }
    }
  }