@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "./nav";
@import "./promotedCars";
@import "./about";
@import "./awards";
@import "./services";
@import "./cars";
@import "./rates";
@import "./contact";
@import "./locations";
@import "./footer";
@import "./modalform";
@import "./blog";
@import "./userReservation";
@import "./userLogin";
@import "./userResetPassword";
@import "./userRegister";
@import "./userAccount";
@import "./userLogout";
@import "./adminPanel";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  min-height: 100vh;

  .page {
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  button {
    outline: transparent;
  }
}
