body{
    background-image: url('https://i.pinimg.com/originals/96/bb/de/96bbdef0373c7e8e7899c01ae11aee91.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

/* .description {
    text-align: left;
    float: right;
    width: 1000px;
    padding-top: 25px;
    
} */
span {
    margin: 10px;
}



  
    button {
      background-color: rgb(226, 47, 47);
      color: aliceblue;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      height: 40px;
      width: 100px;
    }

    button:hover{
        background-color: blue;
        box-shadow: rgb(226, 47, 47);
    }
  
    form{
        background-color: rgb(241, 241, 241);
        border-radius: 5px;
        margin: 20px;
        padding: 20px;
      
    }
    a{
        
        background-color: rgb(226, 47, 47);
        color: aliceblue;
        padding: 10px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
        text-decoration: none;
    }
    a:hover{
        background-color: blue;
    }

    h2{
        
        color: rgb(122, 189, 22);
        font-size: 35px;
        margin-top: 0;
        /* border: 1px solid rgb(241, 241, 241); */
        /* background-color: rgb(241, 241, 241); */
        
    }
    h2:hover{
        /* background-color: rgb(241, 241, 241); */
        /* color: black; */
        font-size: 50px;
    }

    p{
        color: rgb(241, 241, 241);
        font-size: 20px;
        /* border: 1px solid rgb(241, 241, 241); */
        
    }

    p:hover{
        background-color: rgb(241, 241, 241);
        color: black;
    }
   
    .description {
        padding: 10px;
        color: rgb(241, 241, 241);
        /* border: 1px solid rgb(241, 241, 241); */
    }

    .description:hover{
        background-color: rgb(241, 241, 241);
        color: black;
    }

    .picture{
        width: 300px;
        height: 260px;
        object-fit: cover;
        /* border: 1px solid rgb(241, 241, 241); */
        
    }

    .picture:hover{
        background-color: rgb(241, 241, 241);
        color: black;
        width: 600px;
        height: 520px;
    }
    input{
        border: 1px solid black;
    }

    input:hover{
        border: 3px solid blue;
        background-color: yellow;
        
    }
    .allInputs{
        display: block;
        margin: 20px auto;
        padding: 10px;
    }