* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: 'Rancho', cursive, sans-serif;
}

body {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-image: url(./img/923.jpg);
    background-color: #F2B705;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap {
    height: 100%;
    overflow: hidden;
}

h1 {
    /* width: auto;
    /* left: 50%;
    transform: translateX(-50%); */
    margin-top: 1%;
    padding-bottom: 1%;
    text-transform: uppercase;
    text-align: center;
    /* font-family: 'Permanent Marker', cursive, sans-serif; */
    font-size: 3em;
    color: #914BF2;
    text-shadow: 2px 2px 7px #4BB2F2;


}




.images {
    /* margin-top: 10%;
    margin-bottom: 5%; */
    background-image: url(./img/city-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 50%;
    height: 70%;
    min-width: 700px;
    min-height: 500px;
    border: 1em solid #914BF2;
    border-radius: .5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #F2CB05;


}

img {
    position: absolute;
}

.dog img {
    height: 100%;
    width: auto;
    left: 65%;
    top: 20%;


}

.mouth img {
    left: 65%;
    top: 20%;
    height: 100%;
    width: auto;
    /* transform: rotate(-45deg); */
}

.mouth img:hover {
    top: 22%;
}

.meal img {
    height: 30%;
    transform: rotate(45deg);
    left: 30%;
    top: 10%;
    cursor: pointer;
    animation: shake .8s linear infinite;

}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(45deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(42deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(48deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(45deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(48deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(42deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(45deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(42deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(48deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(45deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(44deg);
    }
}


.snackDiv img {
    opacity: 0;
}

.snack {
    /* position: relative; */
    top: 20%;
    height: 10%;
    left: 40%;
    z-index: -1;
    animation: snackThrow .5s linear 1 normal none;
    transform: rotate(0deg);
}



@keyframes snackThrow {
    0% {
        top: 3em;
        left: 40%;
        opacity: 1;
        transform: rotate(-45deg);
    }

    20% {
        top: 1em;
        left: 55%;
        transform: rotate(45deg);
    }

    30% {
        top: 1em;
        left: 60%;
        transform: rotate(135deg);
        transition: linear;
    }

    40% {
        top: 4em;
        left: 65%;
        transform: rotate(225deg);
    }

    70% {
        top: 24em;
        left: 80%;
        opacity: 1;
        transform: rotate(315deg);
    }

    85% {
        top: 24em;
        left: 80%;
        opacity: 1;
    }

    92% {
        top: 24em;
        left: 80%;
        opacity: 1;
    }

    100% {
        top: 24em;
        left: 80%;
        opacity: 1;
    }
}







.x-number {
    position: relative;
    text-align: center;
    /* font-family: 'Permanent Marker', cursive, sans-serif; */
    font-size: 4em;
    font-weight: 900;
    color: red;
    /* text-shadow: 6px 6px 7px black; */
    animation: xpoints 1.2s linear infinite forwards;
    left: 40%;
    top: 2%;
    transform: rotate(20deg);





}

@keyframes xpoints {
    0% {
        opacity: .2
    }

    15% {
        opacity: .5
    }

    30% {
        opacity: .7
    }

    50% {
        opacity: 1
    }

    70% {
        opacity: .7
    }

    85% {
        opacity: .5;
    }

    100% {
        opacity: .2;
    }

}

/*LASER DOG*/

.laser-dog img {
    position: absolute;
    height: 70%;
    left: -10%;
    top: 180%;
    transition: linear .5s;

}

.onActive img {
    height: 70%;
    left: -10%;
    top: 40%;
    transition: linear .5s;

}


.green {
    position: absolute;

}

.one {
    width: .1em;
    height: .2em;
    border-bottom: .3em solid red;
    top: 60.5%;
    left: 20%;
    transform: rotate(20deg);
    transform-origin: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;
}

.two {
    width: .1em;
    height: .2em;
    border-bottom: .3em solid red;
    top: 58%;
    left: 24.5%;
    transform: rotate(20deg);
    transform-origin: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;
}

/* lasers */

.onActive~.one {
    animation: laserShotOne .3s linear .5s infinite forwards
}

.onActive~.two {
    animation: laserShotTwo .3s linear .5s infinite forwards
}

@keyframes laserShotOne {
    0% {
        top: 60.5%;
        left: 20%;
        width: .1em;
        opacity: 1;

    }

    20% {
        top: 65.5%;
        left: 25%;
        width: 2em;
    }

    50% {
        top: 70.5%;
        left: 30%;
        width: 5em;
    }

    70% {
        top: 70.5%;
        left: 30%;
        ;
        width: 7em;
    }

    99% {
        top: 70.5%;
        left: 30%;
        width: 5em;
    }

    100% {
        top: 60.5%;
        left: 20%;
        width: .1em;
    }
}

@keyframes laserShotTwo {
    0% {
        top: 58%;
        left: 24.5%;
        width: .1em;
        opacity: 1;
    }

    20% {
        top: 63%;
        left: 29.5%;
        width: 2em;
    }

    50% {
        top: 68%;
        left: 34.5%;
        width: 5em;
    }

    70% {
        top: 68%;
        left: 34.5%;
        width: 7em;
    }

    99% {
        top: 68%;
        left: 34.5%;
        width: 5em;
    }

    100% {
        top: 58%;
        left: 24.5%;
        width: .1em;
    }
}



.cat img {
    height: 60%;
    left: 35%;
    top: 180%;
    transition: linear .8s;
}

.catActive img {
    height: 60%;
    left: 35%;
    top: 55%;
    transition: linear .8s;
}




.numbers {

    width: 100vw;
    height: 100vh;

}



.counter,
.counter span {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    /* font-family: arial, sans-serif; */
    font-size: 1.5em;
    font-weight: 600;
    color: #914BF2;
    border-radius: .5em;
    line-height: 2em;
    padding: .5em;
    /* background-color: white; */
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 16em;
    max-width: 18em;
    height: auto;
    text-shadow: 2px 2px 7px #F2CB05;
    ;
    margin-bottom: 10%;

}




button {
    width: 16em;
    position: absolute;
    max-width: 20em;
    /* height: auto; */
    border-radius: 1em;
    padding: .5em;
    /* display: flex; */
    text-transform: uppercase;
    text-align: center;
    /* font-family: 'Rancho', cursive, sans-serif; */
    font-size: 1em;
    font-weight: 600;
    color: #914BF2;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1em;
    background-color: #F2CB05;
    cursor: pointer;
}

button:hover {
    background-color: #ffd900;
}



/* @media (max-width: 1200px) and (orientation : landscape) {
    .images {
        width: 80%;
        height: 70%;
        min-width: 700px;
        min-height: 500px;
        top: 50%;
    }

    h1 {
        font-size: 2em;
    }

    .counter,
    .counter span {
        font-size: 1em;
        text-align: center;
        margin-bottom: 1em;
        margin-top: 1em;
        padding: .5em;
        top: 12%;

    }

    button {
        font-size: .7em;
    }

}

@media (max-width: 1024px) and (orientation : landscape) {
    .images {
        width: 80%;
        height: 70%;
        min-width: 600px;
        min-height: 400px;
        top: 50%;
    }

    h1 {
        font-size: 1.5em;
    }

    .onActive img {
        left: -20%;
    }

    .catActive img {
        height: 20em;
    }

}

@media (max-width: 640px) and (orientation : landscape) {
    .images {
        width: 60%;
        height: 50%;
        min-width: 400px;
        min-height: 400px;
        top: 50%;
    }

    .onActive img {
        left: -30%;
    }

    .catActive img {
        height: 15em;
    }
}

@media (max-width: 460px) and (orientation : landscape) {

    .counter,
    .counter span {
        font-size: 1em;
        text-align: center;
        margin-bottom: 1em;
        margin-top: 1em;
        padding: .5em;
        top: 15%;

    }

    button {
        font-size: .7em;
        top: 15%;
    }
} */

@media (orientation: portrait) {
    body {
        height: 100vh;
        width: 100vw;
        /* 
        overflow-y: hidden;
        position: relative; */
        margin: 0;
        padding: 0;

    }

    .wrap {
        height: 100vh;
        width: 100vw;
    }

    h1 {
        display: none;
    }

    .images {
        height: 100vh;
        width: 100vw;
    }

    .dog img {

        top: 50%;
        left: 50%;
        height: 50%;
    }

    .mouth img {
        top: 50%;
        left: 50%;
        height: 50%;
    }

    .mouth img:hover {
        top: 52%;
    }

    .meal img {
        left: 20%;
    }

    .snack {
        height: 5%;
        animation: snackThrow .5s linear 1 normal none;
        transform: rotate(0);
        /* z-index: 1; */
    }

    @keyframes snackThrow {
        0% {
            top: 25%;
            left: 35%;
            opacity: 1;
            transform: rotate(-180deg);
        }

        10% {
            top: 15%;
            left: 40%;
            transform: rotate(-360deg);
        }

        20% {
            top: 7%;
            left: 50%;
            transform: rotate(-540deg);
        }

        30% {
            top: 5%;
            left: 55%;
            transform: rotate(-720deg);
        }

        40% {
            top: 10%;
            left: 60%;
            transform: rotate(-540deg);
        }

        50% {
            top: 10%;
            left: 70%;
            transform: rotate(-360deg);
        }

        60% {
            top: 20%;
            left: 60%;
            transform: rotate(-180deg);
        }

        70% {
            top: 30%;
            left: 50%;
            transform: rotate(0deg);
        }

        80% {
            top: 40%;
            left: 60%;
            transform: rotate(180deg);
        }

        90% {
            top: 50%;
            left: 50%;
            transform: rotate(360deg);
            opacity: 1;
        }

        100% {
            top: 60%;
            left: 60%;
            opacity: 1;
            transform: rotate(540deg);
            opacity: 0;
        }


    }


    .x-number {
        /* top: 20%; */
        left: 18%;
        top: 5%;
        font-size: 4em;
    }


    .laser-dog img {
        position: absolute;
        height: 35%;
        left: -10%;
        top: 180%;
        transition: linear .5s;
        transform: rotate(-20deg);

    }

    .onActive img {
        height: 45%;
        left: 5%;
        top: 65%;
        transform: rotate(-20deg);
        transition: linear .5s;

    }

    .one {
        transform: rotate(-60deg);
        left: 34%;
        top: 80%;
        /* width: 4px;
        height: 4px;
        background-color: lime; */
    }

    .two {
        transform: rotate(-60deg);
        left: 38%;
        top: 78%;
        /* width: 400px;
        height: 4px;
        background-color: lime; */
    }


    @keyframes laserShotOne {
        0% {
            top: 80%;
            left: 34%;
            width: .1em;
            opacity: 1;

        }

        20% {
            top: 75%;
            left: 39%;
            width: 3em;
        }

        50% {
            top: 70%;
            left: 44%;
            width: 6em;
        }

        70% {
            top: 70%;
            left: 44%;
            width: 12em;
        }

        99% {
            top: 70%;
            left: 44%;
            width: 6em;
        }

        100% {
            top: 80%;
            left: 34%;
            width: .1em;
        }
    }

    @keyframes laserShotTwo {
        0% {
            top: 78%;
            left: 38%;
            width: .1em;
            opacity: 1;
        }

        20% {
            top: 69%;
            left: 43%;
            width: 3em;
        }

        50% {
            top: 64%;
            left: 48%;
            width: 6em;
        }

        70% {
            top: 64%;
            left: 48%;
            width: 12em;
        }

        99% {
            top: 64%;
            left: 48%;
            width: 6em;
        }

        100% {
            top: 74%;
            left: 36%;
            width: .1em;
        }
    }

    .cat img {

        height: 40%;
        left: 160%;
        top: 15%;
        transform: rotate(-45deg);


    }

    .catActive img {

        height: 40%;
        left: 60%;
        top: 10%;
        transform: rotate(-45deg);

    }



    .counter,
    .counter span {
        top: 92%;
        font-size: 1em;
        padding: 0;
        margin: 0;
        width: auto;
    }

    button {
        top: 2%;
    }
}


/* DO OGARNIĘCIA LANDSAPE 1200,992 i small lcd */

@media (orientation: landscape) and (max-width: 1200px) {


    .wrap {
        height: 100vh;
    }

    .images {
        width: 50%;
        height: 70%;
        min-width: 700px;
        min-height: 500px;
    }

    h1 {
        display: block;
    }
}

@media only screen and (orientation: landscape) and (max-width: 992px) {


    h1 {
        display: none;
    }

    .counter {
        top: 0;
        font-size: 1.5em;
        left: 20%;
        position: absolute;

    }

    .counter span {
        position: relative;
        font-size: 1.2em;
        left: 0;
        top: 0;
    }

    button {
        top: 3%;
        left: 80%;
    }
}


/* OK iphone x 812x375 lanscape */
@media only screen and (max-width: 992px)and (orientation: landscape) {
    h1 {
        display: none;
    }

    body,
    .wrap,
    .images {
        width: 100vw;
    }

    .x-number {
        top: 15%;
        font-size: 3em;
    }

    .counter {
        font-size: 1em;
        left: 12%;
        top: 0;
        margin-left: 3%;
    }

    .counter span {
        font-size: 1em;
        top: 0;
        padding: 20px;
    }

    button {
        left: 12%;
        top: 12%;
        font-size: 1em;
        padding: 5px;
        width: fit-content;
        margin-left: 0;
    }
}

/* Moto G4 640x360 ok*/
@media only screen and (orientation: landscape) and (max-width: 768px) {
    h1 {
        display: none;
    }

    button {
        font-size: .7em;
    }
}