* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: black;
}



.container {
    display: flex;
    /* flex-flow: column; */
    text-align: center;
    
}

header {
    background-color: red;
    /* width: 100%; */
    text-align: center;
    
}

p {
    background-color: skyblue;
    float: left;
    margin: 0;
    
}

aside {
    display: flex;
    text-align: center;
    padding: 25px;
    margin-top: 0;
    
    
}

.left {
    background-color: green;
    
}

.right {
    background-color: hotpink;
}

footer {
    background-color: purple;
    text-align: center;
}

@media (min-width:993px) {
    .container {
        width: 100%;
    }
}

@media (min-width:769px) and (max-width:992px) {
    .container {
        flex-wrap: wrap;
    }
    .par {
        width: 80%;
    }
    .right {
        width: 20%; 
    }
    .left {order:3; 
         width: 100%;
        flex-wrap: wrap;
    }
    .par, .right, .left {
        height: 350px;
    }
    
}


@media (max-width:760px){
    .container, header, footer{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .right {order: -3;}
    aside { width: 100%;
     }
    
}
           
       




