.flex-item {
    background-color: seagreen;
    font-family: "Lato", sans-serif;
    color: white;
    border: 1px solid goldenrod;
    padding: 10px;
    margin: 5px;
    flex-basis: 10%;
    
}

.flex-item:nth-last-of-type(odd) {
    background-color: steelblue;
    
}

.container {
    border: 2px dashed purple;
    display: flex;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
}
