body {
    background-color: white;
    
}

.ramka {
    height: 400px;
    width: 98%;
    align-content: center;
    background-color: black;
    margin-right: 50px;
    

}


.no, .CSS {
    height: 200px;
    width: 1000px;
    position: relative;
    color: white;
    font-size: 220px;
    text-align: center;
    display: block;
    animation-name: odliczanie;
    animation-duration: 11s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    padding: 200px;
}

@keyframes odliczanie {
  0% {transform:translateY(-100%); }
  10% {transform:translateY(-200%);}
  20% {transform:translateY(-300%);}
  30% {transform:translateY(-400%);}
  40% {transform:translateY(-500%);}
  50% {transform:translateY(-600%);}
  60% {transform:translateY(-700%);}
  70% {transform:translateY(-800%);}
  80% {transform:translateY(-900%);}
  90% {transform:translateY(-1000%);}
  100% {transform:translateY(-1100%); }
}


