img {
    height: 250px;
    width: auto;
    transition: all 1s;
}

.rotate img:hover {
    transform: rotate(360deg);
}

.translate img:hover {
    transform: translate(200px, 300px);
}

.scale img:hover {
    transform: scale(.8);
}

.animation img {
    animation-name: have-fun;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes have-fun {
    0%, 100% {
        height: 300px;
        border: 10px solid hotpink;
        margin-left: 100px;
    }

    20% {
        height: 150px;
        margin-left: 250px;
    }

    50% {
        height: 450px;
        border-radius: 50%;
        border: 25px dashed goldenrod;
    }
}