body {
    background-color: black;
  }
  
  
  .outer  {
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: static;
    margin: 5px;
  }
  
  .inner {
    width: 160px;
    height: 160px;
    background-color: lightgoldenrodyellow;
    display: inline-block;  
    border:  0 solid #fff ;
    position: relative;
    left: 6px;
    top: 6px;
    margin: 0
  }
  
  .round-in {
    width: 80px;
    height: 80px;
    background-color:lightcyan;
    border: 1px solid black;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: 40px; 
    left: 40px;
  
  }
  
  #square1,
  #circle5 {
    background-color: red;
  }
  
  #square2,
  #circle6 {
    background-color: blue;
  }
  
  #square3,
  #circle4 {
    background-color: green;
  }
  
  #square4,
  #circle8 {
    background-color: yellow;
  }
  
  #square5,
  #circle9 {
    background-color: black;
  }
  
  #square6,
  #circle7 {
    background-color: orange;
  }
  
  #square7,
  #circle3 {
    background-color: purple;
  }
  
  #square8,
  #circle2 {
    background-color: gray;
  }
  
  #square9,
  #circle1 {
    background-color: pink;
  }