#pierwszy::before {
    content: 'Dodatkowa treść przed paragrafem';
    color: royalblue;
    background-color: sandybrown;
}

#drugi::after {
    content: 'Treść za drugim paragrafem';
    color: red;
}