 /* font-family: 'Open Sans', sans-serif;
 <i class="fas fa-university"></i>  */
* {
    box-sizing: border-box;

}

#container1,
#container2,
#container3,
#container4,
#container5 {
    max-width: 1700px;
}


body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif; 
    color: #777;
    font-size: 12px;
}

header {
    background-image: url(../img/header.jpg);
    background-size:  cover;
    background-position: center;
    text-align: center;
    height: 400px;
}

h1 {
    color: #007bff;
    font-size: 30px;
    font-weight: normal;
    padding: 10%;
}

hr {
    background-color: #007bff;
    display: inline-block;
    width: 30px;
    
}

.btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #007bff;
    color: #777;
    padding: 14px;
}

section {
    text-align: center;
    padding: 120px 0;
}

h3 {
    font-size: 20px;
}

#img1 {
    border-radius: 50%;
}

#text1, #text2 {
    text-align: center; 
    padding: 10px;
    width: 50%;
    margin: auto;
}

nav {
    position: sticky;
    top: 0;
    background-color: #007bff;
    z-index: 10;
}

nav > ul {
    margin: 0;
    padding: 1.3em 0;
    text-align: center;
}

nav >ul >li {
    display: inline-block;
    margin: 0 1.2em;
}

nav li > a {
    text-decoration: none;
    font-size: 1.7em;
    display: inline-block;
    color: #ffffff;
} 

#container3 {
    /*  */
}

#portfolio {
    text-align: center;
    padding: 20px 0;
}

#grafika {
    
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 120px;
    align-content: space-around;
    width: 80%;
    display: flex;
    flex-basis: 25%;
    
}


.obr {
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 200px;
    justify-content: center;
}



.obr1 {
    background-image: url(../img/portfolio/photo-1.jpg);
}


.obr2 {
    background-image: url(../img/portfolio/photo-2.jpg);
}

.obr3 {
    background-image: url(../img/portfolio/photo-3.jpg);
}

.obr4 {
    background-image: url(../img/portfolio/photo-4.jpg);
}

.obr5 {
    background-image: url(../img/portfolio/photo-5.jpg);
}

.obr6 {
    background-image: url(../img/portfolio/photo-6.jpg);
}

.obr7 {
    background-image: url(../img/portfolio/photo-7.jpg);
}

.obr8 {
    background-image: url(../img/portfolio/photo-8.jpg);
}

.obr9 {
    background-image: url(../img/portfolio/photo-9.jpg);
}

.obr10 {
    background-image: url(../img/portfolio/photo-10.jpg);
}

.obr11 {
    background-image: url(../img/portfolio/photo-11.jpg);
}

.obr12 {
    background-image: url(../img/portfolio/photo-12.jpg);
}



#contact {
    text-align: center;
    padding: 220px 0;
}

.contactform {
    text-align: center;
    align-content: center;
    display: inline-block;

}
