* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif; 
    color: #777;
    font-size: 10px;
    
}

#container-head {
    max-width: 1700px;
    height: 500px;
}

header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    color: #007bff;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
    font-weight: normal;
    font-size: 4.6em;
}

hr {
    background-color: #007bff;
    border: 0;
    height: 1px;
    width: 7em;
}

p {
    font-size: 1.4em;
    line-height: 1.8;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.btn {
    text-decoration: none;
    border: 1px solid #007bff;
    display: inline-block;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    padding: 1em 2.5em;
    transition: all 1s;
    font-size: 1.5em;
}

.btn:hover {
    background-color: #007bff;
    color: #fff;
}

.btn, h1, h2 a {
    text-transform: uppercase;
}

section, header.main {
    text-align: center;
    padding: 12em 0;
}

section header {
    margin-bottom: 2em;
    color: #333;
    font-size: 1.7em;
    font-weight: 400;
}

h2 {
    margin-bottom: .5em;
    font-size: 2.5em;
    font-weight: normal;
}

/* Header styles */
/* .main {
    height: 65vh;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
} */

/* .main h1 {
    font-size: 4.6em;
    color: #007bff;
    margin: 0 auto;
} */

.shortcuts/*main p*/{
    margin: 2.6em 0em;
    color: #333;

}


nav {
    position: sticky;
    top: 0;
    background-color: #007bff;
    z-index: 10;
}

nav > ul {
    margin: 0;
    padding: 1.3em 0;
    text-align: center;
}

nav >ul >li {
    display: inline-block;
    margin: 0 1.2em;
}


nav > li {
    margin: 0 1.2em;
    display: inline-block;
}

nav li > a {
    text-decoration: none;
    font-size: 1.7em;
    display: inline-block;
    color: #ffffff;
} 

.img1 {
    border-radius: 50%;
    padding: 4em;
}

/* .portfolio {
    padding: 2em;
    
} */

.portfolio-section {
    background-color: #f2f1ed;
}

.portfolio-section .graphics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 7em;
}
.portfolio-section .graphics .picture {
    flex-basis: 25%;
    margin: 0;
    height: 20em;
    position: relative;
    overflow: hidden;
}

.picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 1s;
}

.picture img:hover {
    transform: scale(1.5);
}

/* Contact */
.contact-form {
    max-width: 70em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4em auto 3em auto;
}

.contact-form input:not([type="submit"]), .contact-form textarea {
    flex-basis: 48%;
    padding: 1em;
    margin-bottom: 1.5em;
}


.contact-form textarea {
    flex-basis: 100%;
    height: 10em;
}

.contact-form textarea::placeholder {
font-family: 'Open Sans', sans-serif; 
}



.fab {
    color: #007bff;
    font-size: 3.5em;
    margin: 1em;
    display: inline-block;
    /* margin: 0 2em; */
    
}


footer {
    text-align: center;
    background-color: #f2f1ed;
    height: 10em;
    width: 100%;
    display: flex;
}


@media (min-width: 992px) {
    .picture {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width:991) {
    .picture {
        width: 70%
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .picture {
        width: 50%
    }
}

@media (max-width: 479px){
    .pciture {
        width: 33%
    }
}




moje-portfolio-powyzej-992px

moje-portfolio-miedzy-768-992px

moje-portfolio-miedzy-480-768px

moje-portfolio-ponizej-480px