#send:hover{
    background-color: skyblue;
}

#name:focus {
    border: 5px solid green;
    background-color: lavenderblush;
}

.customer {
    color: orange;
}

.customer:first-child {
    color: darkblue;
}

.customer:nth-child(4) {
    background-color: darkmagenta;
}

.customer:nth-last-child(2) {
    color: black;
}

.customer:nth-child(3n - 1) {
    background-color: forestgreen;
}