.flex-item {
    background-color: seagreen;
    font-family: "Lato", sans-serif;
    color: white;
    border: 1px solid goldenrod;
    padding: 10px;
    margin: 5px;
    flex-basis: 10%;
    max-width: 200px;
}

.flex-item:nth-last-of-type(odd) {
    background-color: steelblue;
    flex-basis: 20%;
}

.container {
    border: 2px dashed purple;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
}
