#static {
    width: 400px;
    height: 150px;
    background-color: steelblue;
}

#relative {
    position: relative;
    width: 600px;;
    height: 450px;
    background-color: yellow;
    top: 50px;
    left: 50px;
}

#absolute {
    position: absolute;
    height: 100px;
    width: 400px;
    background-color: red;
    top: 100px;
    left: 100px;
}

#fixed {
    position: fixed;
    width: 450px;
    height: 200px;
    background-color: purple;
    bottom: 150px;
    right: 250px;
}

#sticky {
    width: 100%;
    height: 100px;
    background-color: salmon;
    position: sticky;
    top: 0;
}